.product-card__image {
    width: 20%;
    margin: auto;
}

.main-products__list {
    display: flex;
    align-items: stretch; 
    justify-content: center;
    flex-direction: column;
}
.main-products__h2{
    text-align: center;
}
.button-container {
    margin: 30px;
    text-align: center;
}
.header-banner__button:hover {
    background-color: burlywood;
}
.product-card{
    border: 1px solid rgb(187, 175, 4);
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: stretch;
    justify-content: space-around;
    
}
.product-card__h3{
    text-align: center;
    padding: 20px;
    background-color: rgb(237, 223, 203);
}
.product-card__buttons{
    margin: auto;
    padding: 5px;
}
@media (min-width: 600px){
    .main-products__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
}
@media (min-width: 900px){
    .main-products__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 980px){
    .main-products__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}